@use '../utils' as *;

.settings-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: rem(30) auto;
	cursor: pointer;
	font-size: rem(20);
	font-weight: 400;
	color: var(--light-gray);

	@include breakpoint-down(small) {
		font-size: rem(20);
	}
}

.settings-btn:hover {
	font-weight: 700;
	color: var(--dark-gray);
}
