@use '../utils' as *;

.menu-container {
	z-index: 500;
	margin: rem(30) 0;

	&__button-container {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		width: rem(500);
		padding: rem(5);
		margin: 0 auto;

		@include breakpoint-down(small) {
			width: rem(400);
		}
	}

	&__button {
		width: rem(150);
		height: rem(30);
		cursor: pointer;
		border: none;
		background: none;
		margin: 0 rem(1);
		font-size: rem(20);
		font-weight: 400;
		color: var(--light-gray);
		text-align: center;

		@include breakpoint-down(small) {
			width: rem(125);
			font-size: rem(20);
		}
	}

	&__button:hover,
	&__button:focus {
		font-weight: 700;
		color: var(--dark-gray);
	}

	.focus {
		font-weight: 700;
		color: var(--dark-gray);
	}
}
