@use '../utils' as *;

.settings-container {
	z-index: 1000;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);

	&__content {
		position: relative;
		top: 25%;
		max-width: rem(500);
		background-color: var(--white);
		margin: 0 auto;

		@include breakpoint-down(small) {
			margin: 0 rem(75);
		}

		&__header {
			height: rem(80);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 0 rem(20);
			position: relative;

			h2 {
				margin: 0;
				font-weight: 700;
				color: var(--dark-gray);
			}

			.close-btn {
				cursor: pointer;
				color: var(--dark-gray);
			}
		}

		&__header:after {
			content: '';
			height: rem(1);
			background-color: var(--light-gray);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&__time {
			margin: rem(20) 0;
			padding: 0 rem(25);

			&__form {
				display: grid;
				grid-template-columns: auto auto auto;
				grid-template-rows: rem(20) rem(50);
				grid-column-gap: rem(22);
				column-gap: rem(22);
				align-items: center;
				justify-items: center;
				row-gap: rem(8);

				label {
					grid-row: 1;
					font-size: rem(20);
					font-weight: 700;
					color: var(--dark-gray);

					@include breakpoint-down(small) {
						font-size: rem(15);
					}
				}

				input {
					grid-row: 2;
					max-width: rem(100);
					padding: rem(10) rem(20);
					border: none;
					border-bottom: 3px solid var(--light-gray);
					font-size: rem(16);
					font-weight: 500;
					color: var(--light-gray);

					@include breakpoint-down(small) {
						font-size: rem(14);
					}
				}

				input[type='number']:focus {
					border-bottom: 3px solid var(--dark-gray);
					color: var(--dark-gray);
					outline: none;
				}
			}
		}

		&__submit {
			width: 100%;
			display: flex;
			justify-content: center;

			.settings-container__btn {
				width: rem(100);
				height: rem(53);
				padding: 0;
				margin: rem(20) 0;
				font-weight: 700;
				font-size: rem(20);
				background: none;
				color: var(--dark-gray);
				cursor: pointer;
				border: none;
			}

			.settings-container__btn:hover {
				color: var(--light-gray);
			}
		}
	}
}

.settings-container.visible {
	display: block;
}
