@use '../utils' as *;

.timer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: rem(10);
	margin: rem(40) 0;
	background-color: var(--white);
	// position: relative;
	// width: 100%;

	.display-time {
		font-family: var(--font-secondary);
		font-size: rem(100);
		font-weight: 600;
		color: var(--dark-gray);
		display: flex;
		justify-items: center;
		align-items: center;
		letter-spacing: rem(10);
		margin-bottom: rem(15);

		@include breakpoint-down(small) {
			font-size: rem(70);
		}
	}

	// .display-text {
	// 	position: absolute;
	// 	right: 0;
	// }

	.progressive-bar-container {
		width: rem(450);
		height: rem(5);
		z-index: 9;
		background-color: var(--light-gray);
		transition: all 150ms cubic-bezier(0.46, 1.13, 0.67, 0.87);
		margin-bottom: rem(15);

		@include breakpoint-down(small) {
			// width: rem(350);
		}

		&__bar-display {
			height: rem(5);
			width: 0;
			background-color: var(--dark-gray);
		}
	}

	.btn-start__pause {
		border: none;
		background: none;
		font-family: var(--font-secondary);
		font-size: rem(40);
		font-weight: 600;
		color: var(--dark-gray);
		cursor: pointer;

		@include breakpoint-down(small) {
			font-size: rem(30);
		}
	}

	.btn-start__pause:hover {
		color: var(--light-gray);
	}
}
