:root {
	--accent-color: #f87070;
	--background-body: #1e213f;
	--text: #d7e0ff;
	--text-dark: #1e213f;
	--background-preferences: #ffffff;
	--input-background: #eff1fa;
	--background-timer: #161932;
	--settings-heading: #161932;
	--default-accent: #f87070;
	--blue-accent: #70f3f8;
	--purple-accent: #d881f8;
}
